{{>_header}}

class {{classname}}Controller < ApplicationController
{{#operations}}
{{#operation}}
  def {{nickname}}
    {{#allParams}}
    {{^isBodyParam}}
    {{#if items}}
    param! :{{paramName}}, Array, required: {{required}} do |item|
      {{#items}}
      item.param! :{{name}}, {{datatype}}, required: {{required}}{{#if minimum}}, min: {{minimum}}{{/if}}{{#if maximum}}, max: {{maximum}}{{/if}}{{#if minLength}}, min_length: {{minLength}}{{/if}}{{#if maxLength}}, max_length: {{maxLength}}{{/if}}{{#if enumName}}, in: [{{#allowableValues}}{{#enumVars}}{{{value}}}{{^@last}}, {{/@last}}{{/enumVars}}{{/allowableValues}}]{{/if}}{{#if defaultValue}}, default: {{defaultValue}}{{/if}}
      {{/items}}
    end
    {{/if}}
    {{^items}}
    param! :{{paramName}}, {{dataType}}, required: {{required}}{{#if minimum}}, min: {{minimum}}{{/if}}{{#if maximum}}, max: {{maximum}}{{/if}}{{#if minLength}}, min_length: {{minLength}}{{/if}}{{#if maxLength}}, max_length: {{maxLength}}{{/if}}{{#if enumName}}, in: [{{#allowableValues}}{{#enumVars}}{{{value}}}{{^@last}}, {{/@last}}{{/enumVars}}{{/allowableValues}}]{{/if}}{{#if defaultValue}}, default: {{defaultValue}}{{/if}}
    {{/items}}
    {{/isBodyParam}}{{#@last}}

    {{/@last}}
    {{/allParams}}
    serv = {{classname}}Service.new
    resp = serv.{{nickname}}(permitted_params)
    render json: resp
  end
{{^@last}}

{{/@last}}
{{/operation}}
{{/operations}}

  private

  def permitted_params
    params.permit
  end
end
