{{>_header}}

class {{classname}}Controller < ApplicationController
{{#operations}}
{{#operation}}
{{#getIsRestfulIndex}}
  def index
    {{>_params_validation this}}
    # Your code here
  end

{{/getIsRestfulIndex}}
{{#getIsRestfulShow}}
  def show
    {{>_params_validation this}}
    # Your code here
  end

{{/getIsRestfulShow}}
{{#getIsRestfulCreate}}
  def create
    {{>_params_validation this}}
    # Your code here
  end

{{/getIsRestfulCreate}}
{{#getIsRestfulUpdate}}
  def update
    {{>_params_validation this}}
    # Your code here
  end

{{/getIsRestfulUpdate}}
{{#getIsRestfulDestroy}}
  def destroy
    {{>_params_validation this}}
    # Your code here
  end

{{/getIsRestfulDestroy}}
{{^getIsRestful}}
  def {{nickname}}
    {{>_params_validation this}}
    # Your code here
  end

{{/getIsRestful}}
{{/operation}}
{{/operations}}
end
